@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #ACD9B2;
    font-size: 3rem;
    font-weight: bold;
}

h2{
    color: #ACD9B2;
    font-size: 2.5rem;
    font-weight: bold;
}


.dibujoCuadrado{
    margin: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ACD9B2;
}

.dibujoCirculo{
    margin: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ACD9B2;
    border-radius: 50%;
}
.containerFormulas{
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.formulaCuadrado,
.formulaTriangulo{
    justify-self: center;
}

.dibujoTriangulo{
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #ACD9B2; 
}

.dibujoIsosceles{
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 70px solid #ACD9B2; 
}

.principal{
    font-size: 2rem;
    font-weight: 300;
    color: #C7C7C7;
}

.containerGeneral{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
}

.container1,
.container2,
.container3,
.container4,
.container5{
    max-width: 380px;
    margin: 10px;
}

ul li{
    font-size: 2rem;
    color: #ACD9B2;
    text-decoration: underline;
}

.triangle{
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
}

.triangleIs{
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
}

@media (max-width: 650px) {
 .containerGeneral{
    display: block;
 }   
}